<div class="footer">
    <div class="top">
      <ul class="clearfix">
        <li class="fl"><a href="#">登录</a></li>
        <li class="fl"><a href="#">注册</a></li>
        <li class="fl">
          <a href="#">
          <img style="margin-top: -0.1rem" src="http://www.zuyushop.com/wap/images/top.jpg" width="15" height="15">
          返回顶部</a>
        </li>
      </ul>
    </div>
    <div class="bottom">
      <p><span style="color: Red;">手机APP下载</span><span style="color: #000;">慢慢买手机版</span>-- 掌上比价平台</p>
      <p>m.manmanbuy.com</p>
    </div>

  </div>
